h1{
    background: bisque ;
    color: #222;
    font-style: italic;
    text-transform: capitalize;
    text-decoration: solid;
    font-weight: lighter;
}
*{
    margin: 0;
    background: cornsilk ;
    padding: auto;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: justify;
    border-top: 5pxb;
    border-bottom: 5px;
}
h2{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin: auto;

}
a:link, a:visited{
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: none;
    display: inline-block;
    text-decoration: none;
}
a:active{
    color: darksalmon;

}
a:visited{
    color: black;
}
a:hover{
    color: coral;
}
p-firstchhild{
    font-size: 18px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    display: inline;
    text-transform: none;
    text-decoration: solid;
    padding: auto;    
}
nav{
    width: auto;
    margin-inline: auto;
}
img{
    border-radius: 18px;
    width: auto;
    height: 200px;
}

#pic{
    width: auto;
    height: 300px;
}
#comment{
    font-size: large;
    display: block;
    padding: 10px 5px 6px 8px ;
}